/* App.css */

.App {
  font-family: Arial, sans-serif; /* Set a default font */
    text-align: center;             /* Center all text */
    background-color: #f4f4f4;     /* Light background color */
    min-height: 100vh;             /* Full height for the body */
    display: flex;
    flex-direction: column;         /* Arrange children in column */
    overflow-x: hidden;             /* Prevent horizontal overflow */
}

h1 {
  margin-top: 20px;              /* Margin for the title */
}

.footer {
  margin-top: auto;              /* Push footer to bottom */
}
